@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    width: 100%;
    background-image: url('Little Bird Toy Co Site Photos/background.webp');
    background-size: cover;
    background-attachment: fixed;
    max-width: 2000px;
}

.center-img {
    margin: 0 300px 0 300px;
}

.half{
    width: 47%;
}

#left {
    text-align: right;
    margin-left: 10px;
}

#right {
    margin-right: 10px;
}

.bottom {
    background-color: #421f00;
    width: 2200px;
    height: 100px;
    margin-left: 0
}

#bottom-nav {
    height: 90px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.inline-block{
    display: inline-block
}

.text-nav {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 0;
    font-family: 'Itim', cursive;
}

.sticky {
    position: sticky;
}