@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
    max-width: 1920px;
    max-height: 2000px;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-image: url('Little Bird Toy Co Site Photos/background.webp');
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -20px;
}

a {
    color: white;
    text-decoration: none;
    transition: 1s
}

a:hover {
    color: #ffa85c
}

.sr-only {
    color: black;
}

#block-carousel {
    margin-left: 400px;
    margin-right: 300px;
}

#boat-carousel {
    margin-left: 550px;
    margin-right: 300px;
}

.carousel-img {
    height: 600px;
}

.margin-l-15 {
    margin-left: 15px;
}

#margin-lol {
    margin-left: 477px;
}

.center-img {
    margin: 0 686px;
}

.half-img {
    width: 50%;
}

.center{
    margin-left: 20px;
    padding: 0 70px;
}

.right, .left {
    width: 75%;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.right-img, .left-img {
    width: 20%;
}

#block{
    margin-bottom: 225px;
    margin-left: 15px;
}

#plane{
    margin-bottom: 380px;
    margin-left: 15px;
}

#train{
    margin-bottom: 280px;
    margin-left: 15px;
}

.m-15 {
    width: 15px;
}

.input {
    margin-left: 90px;
    margin-bottom: 20px;
    width: 1000px;
    display: block;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    font-family: 'Itim', cursive;
}

.name {
    width: 655px;
    display: inline-block;
}

.modal-content {
    font-family: 'Itim', cursive;
    font-size: 25px;
}

.submit {
    width: 250px;
    background-color: #ffa85c;
    display: inline-block;
}

.submit:hover {
    background-color: #ff871f
}

.submit:active {
    box-shadow: none;
    transform: translateX(2px), translateY(2px);
    transition-duration: 0;
}

#discount-code {
    font-size: 40px;
    font-family: 'Itim', cursive;
}

.inline-block-contact {
    width: 50px;
    display: inline-block
}

#contact {
    width: 75%;
    margin-left: 12.5%;
}

.text-header {
    vertical-align: top;
    font-family: 'Itim', cursive;
    font-size: 48px;
}

.text-info-c {
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    line-height: 178%;
}

.text-index {
    padding: 0 40px;
}


.bottom {
    background-color: #421f00;
    width: 2200px;
    height: 100px;
    margin-left: 0;
    margin-top: 30px;
    bottom: 0;
    left: 0
}

#bottom-nav {
    height: 90px;
    margin: 5px 5px 5px 15px
}

.inline-block{
    display: inline-block
}

.text-nav {
    color: white;
    font-size: 40px;
    margin-top: 0;
    font-family: 'Itim', cursive;
    vertical-align: bottom;
    margin-left: 440px;
}

.sticky {
    position: sticky;
    margin-left: -10px;
    margin-bottom: -20px;
}